*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	width: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
}
header{
	background-color: black;
	position: absolute;
	top:0px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 10;
}


#navbar{
	position: fixed;
    top: 0px;
    left: 0px;
	background-color: #061539;
	height: 100%;
	width: 220px;
}

#navContent{
	position: relative;
	top: 50px;
	color: white;
}

#navList{
	font-size: 20px;
	list-style-type: none;
}

#navList li{
	padding: 10px;

}

#navList li:hover{
	background-color: #182257;
} 

.subList{
	font-size: 15px;
	
}

#main_page{
	margin-left: 220px;
	padding-top: 50px;
    background-color: #f2f2f2;
    padding-bottom: 5px;
	}

.db_display{
	margin: 0.5%;
}
/*Content Stuff?*/
.left_column{
    background-color: white;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.chartArea{
	height: 300px;
	width: 100%;
}

.right_column{
    width: 29%;
    margin-left: 0.5%;
    display: inline-block;
    height: 300px;
    background-color: white;
}


.building_image{
    width: 100%;
}


.opening_times_table{
    width: 100%;
}

.opening_times_table td:last-child{
    text-align: right;
}

.table_title{
    text-align: left;
}

.chartDiv{
    width: 100%;
    height: 350px;
}



.title{
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 0.5%;
    font-family: Arial;
}

#pChart{
	width: 100%;
}

.piechartArea{
	height: 300px;
	width: 100%;
}

#hourly_chart{
	border: solid 1px red;
	background-color: white;
    display: block;
    width: 100%;
    margin: auto;
}

#googleMap{
	height: 500px;
}

#building_list{
	height: 120px;
	background-color: white;
}

.building_list_image{
	display: inline-block;
	height: 110px;
	padding: 5px;
	vertical-align: middle;
}

.building_list_image img{
	height: 100%;
}

.building_name{
	display: inline-block;
	vertical-align: middle;
}