*{
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

html, body{
	height: 100%;
	width: 100%;
}

/*Used to make sure that screen elements don't extent out past the max width*/
#wrapper{
	width: 100%;
	height: 100%;
}

/*All CSS classes related to the header go here*/
header{
	background-color: black;
	position: absolute;
	top:0px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 10;
}

header img{
	height: 30px;
	margin-top:10px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 5px;
	margin-right: 10px;
}

header h4{
	margin-top:10px;
	color: white;
	vertical-align: middle;
	display: inline-block;
	font-family: Arial;
}

/*All CSS relating to the navigation bar*/
#navbar{
	position: fixed;
    top: 0px;
    left: 0px;
	background-color: #061539;
	height: 100%;
	width: 220px;
}

#navContent{
	position: relative;
	top: 50px;
	color: white;
}

#navList{
	font-size: 20px;
	list-style-type: none;
}

#navList li{
	padding: 10px;

}

#navList li:hover{
	background-color: #182257;
	box-shadow: 5px 0 0 #66ff99 inset;
} 

#navList a{
	text-decoration: none;
	color: white;
	display: block;
	position: relative;
	left: 20px;
}


/*Styling to contain the right hand side of the page*/
#main_page{
	margin-left: 220px;
	padding-top: 50px;
    background-color: #f2f2f2;
    
	}

.dashboard_display{
	margin: 0.5%;
}

/*==========================DBHOME.HTML=====================*/

.textContent{
	background-color: white;
}

.textContent p{
	font-size: 28px;
}

.textContent h1{
	font-size: 60px;
	color: #66ff99;
}
.textContent h1, p{
	font-family: Arial;
	padding: 10px;
}




/*=========================ROOM.HTML======================*/

/*Stuff relating to submit form at the top*/

.option_selector{
	background-color: white;
	border-radius: 3px;
	height: 40px;
	margin-bottom: 5px;
	text-align: center;
}

#building_selector{
	position: relative;
	top: 8px;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}

#room_selector{
	position: relative;
	top: 8px;
	display: inline-block;
	vertical-align: middle;
}

#submit_button{
	position: relative;
	top: 8px;
}


/*Chart div and chart styling*/
.left_column{
    background-color: white;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    height: 320px;
}

.right_column{
    width: 29%;
    margin-left: 0.5%;
    display: inline-block;
    height: 320px;
    background-color: white;
}


.page_title{
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 0.5%;
    text-align: center;
}

/*Chart Styling for room.html*/
.chartArea{
	background-color: white;
	width: 100%;
	height: 300px;
}


.frequency_of_use{
	height: 300px;
	width: 100%;
}

.full_column{
	background-color: white;
    display: block;
    width: 100%;
    margin-top: 5px;
}

.full_column_chart{
	height: 300px;
	background-color: white;
}

.chart_title{
	background-color: #00ccff;
	height: 20px;
	text-align: center;
	color: white;
}

#date_selector{
	margin-top: 5px;
}

.date_picker{
	position: relative;
	top: 10px;
}
/*===========================BUILDING.HTML=========================*/

#googleMap{
	height: 500px;
}


#building_list{
	height: 120px;
	background-color: white;
}

.building_list_image{
	display: inline-block;
	height: 110px;
	padding: 5px;
	vertical-align: middle;
}

.building_list_image img{
	height: 100%;
}

.building_name{
	display: inline-block;
	vertical-align: middle;
}



