<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='building.css') }}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='chart_rendering.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='data_query.js') }}"></script>


	<title>Tech Quartet</title>
</head>
<body>
	<div id="wrapper">
		<header></header>

		<!--NAVBAR STUFF GOES HERE-->
				<!--NAVBAR STUFF GOES HERE-->
		<div id="navbar">
			<div id="navContent">
				<ul id="navList">
					<li><a href="/dashboard/home">Home</a></li>
					<li><a href="/dashboard/building">Buildings</a></li>
					<li><a href="/dashboard/room">Rooms</a></li>
					<li><a href="/dashboard/modules">Modules</a></li>
					</ul>
					</div>
				</div>

				<!--MAIN CONTENT PAGE GOES HERE-->
				<div id="main_page">

					<div class="db_display">
					<h1>Welcome</h1>
					<p>Hi and welcome to your dashboard. From here you can look at occupancy information for individual room across the college campus. The information includes historical occupancy data, frequency of use and average occupancy data.<br>
					<br>
					If you are a lecturer at UCD, you can view occupancy information about your specific modules to keep track of student attendance. We would really appreciate if you would your own occupancy data for the classes you teach. This helps us to improve our occupancy detection algorithm and make this a better service.</p>
					</div>
				</div>
			</div>
		</body>
		</html>
		</html>
