<!DOCTYPE html>
<html>
<head>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='dashboard_home.css') }}">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='chart_rendering.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='data_query.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='data_calculations.js') }}"></script>
	<title>OpenDoorData</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header id="site_header">
        <div id="headerContents">
            <img id="headerLogo" src="{{ url_for('static', filename='images/ucd-logo.png') }}">
            <h3 id="headerTitle">Open Door Data</h3>
        </div>
	</header>
	
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/api">Api</a></li>
			<li><a href="/survey">Survey</a></li>
		</ul>
    </nav>
	<div id="wrapper">
		<!--NAVBAR STUFF GOES HERE-->
		
		<div id="navbar">
			<div id="navContent">

				<ul id="navList">
					<li><a href="/dashboard/building">Buildings</a></li>
					<li><a href="/dashboard/room">Rooms</a></li>
					<li><a href="/dashboard/modules">Modules</a></li>
				</ul>
			</div>
		</div>

				<!--MAIN CONTENT PAGE GOES HERE-->
				<div id="home_main_page">
					<div class="home_display">
					<div class="textContent">
					<img src="{{ url_for('static', filename='images/ucd-logo.png') }}">
					<h1>Welcome</h1>
					<p>Hi and welcome to your dashboard. From here you can look at occupancy information for individual room across the college campus. The information includes historical occupancy data, frequency of use and average occupancy data.<br>
					<br>
					If you are a lecturer at UCD, you can view occupancy information about your specific modules to keep track of student attendance. We would really appreciate if you would your own occupancy data for the classes you teach. This helps us to improve our occupancy detection algorithm and make this a better service.</p>
					</div>
					</div>
				</div>
			</div>
		</body>
		</html>
		</html>
