<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	
	<title>Tech Quartet</title>
</head>
<body>
	<header>
        <div id="headerContents">
            <img id="headerLogo" src="{{ url_for('static', filename='images/ucd-logo.png') }}">
            <h3 id="headerTitle">UCD Computer Science Occupancy Checker</h3>
        </div>
	</header>
    
    <div id="formDiv">
        <form>
          <select style="margin:10px;" name="Room">
            <option value="B002">B002</option>
            <option value="B004">B004</option>
            <option value="B003">B003</option>
          </select>
          <input type="submit">
        </form>
    </div>

    <div class="results">
        <h1>hi</h1>
    	<!--The results from the Javascript query go here-->
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='test.js') }}"></script>
</body>
</html>
