<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='survey.css') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<title>Tech Quartet</title>
</head>
<body>
	<header>
        <div id="headerContents">
            <img id="headerLogo" src="{{ url_for('static', filename='images/ucd-logo.png') }}">
            <h3 id="headerTitle">UCD Computer Science Occupancy Checker</h3>
        </div>
	</header>
	
    <h2 style='text-align:center'>Occupancy Survey Submission</h2>
	<p style='text-align:center'>Please select the three options below to submit occupancy information for your classroom</p>

<div class="survey_form">
<form action="">
	<label for="location">Room Location</label>
  <select name="location" id="rooms">
  </select>
	<label for="module">Module</label>
  <select name="module" id="modules">
  </select>
	<label for="time">Time</label>
  <select name="time">
    <option value=""></option>
    <option value="09:00:00">9am-10am</option>
    <option value="10:00:00">10am-11am</option>
    <option value="11:00:00">11am-12pm</option>
	<option value="12:00:00">12pm-1pm</option>
    <option value="13:00:00">1pm-2pm</option>
	<option value="14:00:00">2pm-3pm</option>
    <option value="15:00:00">3pm-4pm</option>
	<option value="16:00:00">4pm-5pm</option>
  </select>
	<label for="occupancy">Occupancy Level</label>
  <select name="occupancy">
    <option value=""></option>
    <option value=0.0>0%</option>
    <option value=0.25>25%</option>
    <option value=0.50>50%</option>
	<option value=0.75>75%</option>
    <option value=1.0>100%</option>
  </select>
  <br><br>
  <input type="submit">
</form>
</div>
	<script type="text/javascript">
		var rooms = document.getElementById("rooms");
		options = "<option value=''></option>"
		{% for room in rooms %}
		options +="<option value="+"'"+'{{ room.building }}'+","+'{{ room.room_num }}'+"'"+ ">"+'{{ room.building }}'+" - "+'{{ room.room_num }}'+"</option>";
		{% endfor %}
		rooms.innerHTML = options;
		 
		var rooms = document.getElementById("modules");
		options2 = "<option value=''></option>"
		{% for module in modules %}
		options2 +="<option value="+"'"+'{{ module.module_code }}'+"'"+ ">"+'{{ module.module_code }}'+"</option>";
		{% endfor %}
		modules.innerHTML = options2;
	</script>
	
	<script>
		$(document).ready(function(){
		$("form").submit(function(event){
			event.preventDefault();
			var loc = $('select[name="location"]').val();
			var time = $('select[name="time"]').val();
			var module = $('select[name="module"]').val();
			var occupancy = $('select[name="occupancy"]').val();
			var building= loc.substr(0, loc.indexOf(',')); 
			var room_id= loc.substr(loc.indexOf(',')+1); 
			var d = new Date();
			var date = d.getFullYear() + "-" + (d.getMonth()+1)+"-"+ d.getDate() + " " + time;
			var epoch = (Date.parse(date)/1000);
			var user = '{{ user.username }}';

			var submission = '{"room_id":' + room_id+
				',"module_code":"'+module+
				'", "event_time":'+epoch+
				',"occupancy":'+occupancy+
				',"time":"'+date+
				'","reporter":"'+user+
				'","building":"'+building+'"}';
			console.log(submission);

			$.ajax ({ 
				url : '/api/survey/' ,
				contentType: 'application/json',
				data : submission,
				type: 'POST',
				processData: false,
				success : function(){ 
				alert("Thank you for your submission");
				$('form')[0].reset();
				},
				error: function () {
        		alert("Error: An entry already exists for this time and location. Please try again.")
				}
			});	
		});
		});	
	</script>
	
</body>
</html>