{% extends "base.html" %}
{% block title %}Open Door Data{% endblock %}
{% from 'macros/forms.html' import with_errors %}
{% block content_title %}Header Logo{% endblock %}
{% block content %}
<head>
	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='login.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
	<header id = "site_header">
        <div id="headerContents">
            <img id="headerLogo" src="{{ url_for('static', filename='images/ucd-logo.png') }}">
            <h3 id="headerTitle">Open Door Data</h3>
        </div>
	</header>
 {% block body %}


<h3>Please log in for access</h3>

  <form method="post" action="{{ login_url }}">
    <input type="hidden" name="next" value="{{ next }}" />
    {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
    {% for field in form %}
      <div class="clearfix{% if field.errors %} error{% endif %}">
        {{ field.label }}
        <div class="input">
          {% set css_class = 'span6 ' %}
          {% if field.errors %}
            {% set css_class = 'error ' + css_class %}
          {% endif %}
          {{ field(class=css_class) }}
          {% if field.description %}<span class="help-inline">{{ field.description|safe() }}</span>{% endif %}
          {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="actions"><button class="btn primary" type="submit">Log in</button></div>
  </form>

{% endblock body %}
{% endblock %}
